@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#037c2c;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}





.btn:hover{
    background: var(--orange);
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:gray;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:white;
}



.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:white;
}

.header .navbar a:hover{
    color:var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color:#fff;
}

#menu-btn{
    display: none;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }
}


@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

   

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: gray;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}


@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

#fcc_foldout_toggler 
{
    visibility: hidden;
}

#fcc_foldout_toggler {
    position: absolute;
    top: 260px;
    left: 15px;
    z-index: 1;
    pointer-events: auto;
}

body {
    font-family: "Quicksand", sans-serif;
     background-color: linen;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     margin-top: 200px;
   }
   .button {
     color: #fff;
     background-color: salmon;
     width: 4rem;
     height: 4rem;
     outline: none;
     box-shadow: none;
     border-radius: 5px;
     border: none;
     font-family: inherit;
     font-size: 2rem;
     padding: 5px;
     cursor: pointer;
     box-shadow: 2px 2px 1px rgba(0,0,0,.3);
     transition: all .2s;
   }
   .button:active {
     box-shadow: none;
   }
   .container {
     margin: 1rem 5rem 5rem;
     display: grid;
     grid-template-columns: repeat(4, 4rem);
     grid-template-rows: repeat(5, 4rem);
     grid-gap: 5px;
   }
   .display {
     grid-column: 1 / span 4;
     border-radius: 5px;
     border: 2px solid salmon;
     text-align: right;
     font-size: 2rem;
     color: #ccc;
     padding: 0.8rem;
   }