@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#037c2c;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}





.btn:hover{
    background: var(--orange);
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:gray;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:white;
}



.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:white;
}

.header .navbar a:hover{
    color:var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color:#fff;
}

#menu-btn{
    display: none;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }
}


@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

   

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: gray;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}


@media (max-width:450px){

    html{
        font-size: 50%;
    }

}

.page-canvas-defender {
    position: relative;
    overflow: hidden;
  }
  
  .page-canvas-defender canvas {
    display: block;
  }
  
  .page-canvas-defender h2 {
    color: #689F38;
    font-size: 32px;
    padding: 0 0 5px;
    margin: 10px 0;
    text-align: center;
    border-bottom: 1px solid currentColor;
  }
  
  .page-canvas-defender h3 {
    font-size: 40px;
    margin: 20px 0;
    text-align: center;
  }
  
  .page-canvas-defender h3.lose {
    color: #E64A19;
  }
  
  .page-canvas-defender h3.win {
    color: #689F38;
  }
  
  .page-canvas-defender p {
    font-size: 24px;
    text-align: center;
    margin: 0 0 10px;
  }
  
  .page-canvas-defender p.small {
    color: #607D8B;
    font-size: 12px;
  }
  
  .page-canvas-defender button {
    display: block;
    margin: auto;
    min-width: 180px;
    outline: none;
    border: 2px solid #8BC34A;
    border-radius: 25px;
    background: #689F38;
    color: #ffffff;
    font-size: 18px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .page-canvas-defender .wrap-ui .player-hp-bar {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80px;
    height: 10px;
    border: 2px solid #FF5722;
  }
  
  .page-canvas-defender .wrap-ui .enemy-hp-bar {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 240px;
    height: 10px;
    border: 2px solid #FF5722;
  }
  
  .page-canvas-defender .wrap-ui .bar {
    display: block;
    height: 100%;
    background: #E64A19;
  }
  
  .page-canvas-defender .wrap-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.65);
  }
  
  .page-canvas-defender .wrap-popup.show {
    visibility: visible;
    opacity: 1;
  }
  
  .page-canvas-defender .wrap-popup .inner {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 320px;
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    top: 50%;
    transform: translate(0, -50%);
  }