:root {
    --primary-red: hsl(6, 78%, 44%);
    --light-red: hsl(6, 78%, 66%);
    --dark-red: hsl(6, 78%, 44%);
    --primary-blue: hsl(204, 70%, 44%);
    --light-blue: hsl(204, 70%, 66%);
    --dark-blue: hsl(204, 70%, 44%);
    --primary-green: hsl(145, 63%, 44%);
    --light-green: hsl(145, 63%, 66%);
    --dark-green: hsl(145, 63%, 44%);
    --primary-yellow: hsl(48, 89%, 44%);
    --light-yellow: hsl(48, 89%, 66%);
    --dark-yellow: hsl(48, 89%, 44%);
    
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .control-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .displayNone {
    display: none;
  }
  
  button.start {
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    font-weight: bold;
    cursor:pointer;
    border: none;
    box-shadow: 1px 1px 5px black;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
  }
  
  .cell {
    cursor: pointer;
    border: 1px solid white;
  }
  
  .cell[data-number="1"] {
    background: var(--primary-red);
  }
  
  .cell[data-number="1"].prompted {
    background: var(--light-red);
  }
  
  .cell[data-number="2"] {
    background: var(--primary-blue);
  }
  
  .cell[data-number="2"].prompted {
    background: var(--light-blue);
  }
  
  .cell[data-number="3"] {
    background: var(--primary-green);
  }
  
  .cell[data-number="3"].prompted {
    background: var(--light-green);
  }
  
  .cell[data-number="4"] {
    background: var(--primary-yellow);
  }
  
  .cell[data-number="4"].prompted {
    background: var(--light-yellow);
  }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange:#037c2c;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}





.btn:hover{
    background: var(--orange);
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:gray;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:white;
}



.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:white;
}

.header .navbar a:hover{
    color:var(--orange);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: var(--orange);
    color:#fff;
}

#menu-btn{
    display: none;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }
}


@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

   

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: gray;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}


@media (max-width:450px){

    html{
        font-size: 50%;
    }

}